@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-content: center;
    font-size: 16pt;
    background-color: #17252a;
    font-family: 'Roboto', sans-serif;
}
.hello-print{
    text-shadow: 2px,2px,5px #2b7a75;
    position: absolute;
    display: flex;
    top: 20rem;
    left: 20rem;
    margin-left: 45%;
    font-size: 4rem;
    text-align: center;
    color: white;
    transform: rotate(90deg);
}

.form-title{
    text-shadow: 2px 2px #def2f1;
    padding: 1.8rem;
    text-align: center;
}

.container-box{
    position: relative;
    justify-content: center;
    top: 4rem;
    left: 36%;
    width: 400px;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: #2b7a75;    
}
.form-group{
    line-height: 3rem;
    flex-direction: column;
    padding: 1.2rem 2rem;
}

.form-group> input{
    width: 20rem;
    padding: .30rem;
    color:#17252a;
    border-radius:2px;
    border-bottom:4px solid #2b7a75;
    border-width: 0;
    outline: none;
    font-size: 16pt; 
}
.form-group>input:hover{
    color: #17252a;
    border-bottom: 2px solid #def2f1;
    background-color:#2b7a75;
}
.form-group>label{
    font-weight: 900;
}
/*.form-group>input::after{
    outline: #3aafa9;
    border-bottom: 2px solid #def2f1;
}*/
button{
    position: relative;
    gap: .25rem;
    left: 7rem;
    width: 30%;
    border-radius: 2px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 16pt;
    text-transform:capitalize;
}

